<div class="container">
	<!--<div class="stage">
      <div class="pivoton-overlay pivoton-top"></div>
      <div class="pivoton-overlay pivoton-right"></div>
      <div class="pivoton-overlay pivoton-bottom"></div>
      <div class="pivoton-overlay pivoton-left"></div>
      <div class="pivoton-overlay pivoton-top-right pivoton-corner"></div>
      <div class="pivoton-overlay pivoton-bottom-right pivoton-corner"></div>
      <div class="pivoton-overlay pivoton-bottom-left pivoton-corner"></div>
      <div class="pivoton-overlay pivoton-top-left pivoton-corner"></div>

	  <div class="pivoton-button">
	    <span>PRESS ME</span>
	  </div>

	</div>-->


	<div data-id="fatBtn" class="btn btn-success btn-large">Fat button</div>
	<div data-id="smallBtn" class="btn btn-danger">Fat button</div>
</div>
