<div class="stage">
  <div class="wrapper">
    <div class="inner-wrapper">
      <div class="overlay top"></div>
      <div class="overlay right"></div>
      <div class="overlay bottom"></div>
      <div class="overlay left"></div>
      <div class="overlay tr corner"></div>
      <div class="overlay br corner"></div>
      <div class="overlay bl corner"></div>
      <div class="overlay tl corner"></div>
    </div>
  </div>

  <div class="button">
    <span>PRESS ME</span>
  </div>

</div>


<script>
  $(function(){
    alert('123');
  });
</script>